<h1>Contact</h1>

<h2>Whi do you want to contact?</h2>

<form action= "/contact" method="get">
  <label for="member">Please type a name</label>
  <input id="member" name="member" type="text" value="<%=params[:member]%>" placeholder="horst">
  <input type="submit">
</form>

<ol>
  <% @members.each do |member| %>
    <li><%= member.capitalize %></li>
  <% end %>
</ol>

<p>Get in touch</p>
