<h1>Welcome to my rails homepage</h1>

<% current_time= Time.now  %>


<p>The time right now is <%= current_time %></p>

<!-- <a href="/contact">Contact us</a> -->
<%= link_to("Contact Us", contact_path)%>
<!-- link_to "What IT SHOULD SAY", WEHERE IT SHOULD GO -->
<!-- contact_path = "/contact" -->
